* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #e63946 #f1f1f1;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 10px;
}

/* Header */
header {
  height: 8rem;
  padding: 0 5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  z-index: 1000;
}

.logo {
  height: 4.3rem;
  width: auto;
  margin-right: 2rem;
}

/* Navigation */
.nav-links {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 2rem;
  color: #333;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 0;
  background-color: #e63946;
  bottom: -0.4rem;
  top: 2.8rem;
  left: 0;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #e63946;
}

.nav-links a:hover::after {
  width: 100%;
}

.btn-open,
.btn-close {
  display: none;
}

/* main */

.main {
  display: flex;
  height: calc(100vh - 8rem);
  width: 100%;
  overflow-y: scroll;
}

.overlay {
  display: none;
}

/* Sidebar */
.Sidebar {
  padding: 3rem 2rem;
  min-width: 36rem;
  overflow-y: scroll;
}

.Sidebar-head {
  font-size: 3rem;
  font-weight: 600;
  color: #e63946;
  margin-bottom: 3rem;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.Sidebar-head:visited {
  color: #e63946;
}

/* Link Box Styling */
.sidebar-link {
  display: block;
  font-size: 1.8rem;
  text-decoration: none;
  color: #444;
  line-height: 1.3;
  padding: 1.6rem 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.05);
}

.sidebar-link:hover {
  background-color: #e63946;
  color: #fff;
  box-shadow: 0 8px 16px rgba(230, 57, 70, 0.25);
}

/* Content */
.content {
  padding: 3rem;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 8rem);
}

.dbms-img {
  height: 25rem;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 2rem;
}

.arch-img {
  height: 30rem;
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  transform: translateX(-3rem);
  border-radius: 2rem;
}

.secondary-headings {
  font-size: 3.6rem;
  color: #e63946;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.tertiary-headings {
  color: #e63946;
  font-size: 2.4rem;
  font-weight: 600;
  margin-block: 1.2rem;
}

.text {
  font-size: 1.9rem;
  color: #444;
  font-weight: 400;
  margin-bottom: 1.6rem;
  line-height: 1.5;
}

.bold {
  font-weight: 600;
  color: #333;
  font-size: 2rem;
}

.parts {
  margin-bottom: 4rem;
}

.list {
  padding-left: 2rem;
  margin-top: 1rem;
}

.list-item {
  margin-bottom: 1.4rem;
  font-size: 1.7rem;
  color: #333;
}

.Sidebar .sidebar-link {
  font-size: 1.8rem;
}

@media screen and (max-width: 1084px) {
  html {
    font-size: 9px;
  }
  .Sidebar .sidebar-link {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 918px) {
  html,
  body {
    overflow-y: scroll;
  }
  header {
    padding: 0 3.4rem;
    position: relative;
  }
  header nav {
    width: 100%;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    justify-content: center;
    position: absolute;
    background-color: #ffffffec;
    transition: all 0.5s;
    opacity: 0;
    top: 0;
    left: 0;
    height: calc(100vh);
    width: 100%;
    /* display: none; */
    transform: translateX(100%);
    transition: all 0.8s ease-in-out;
    backdrop-filter: blur(3px);
  }

  .btn-open,
  .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4rem;
    right: 2rem;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    z-index: 101;
  }

  .btn-close {
    display: none;
    z-index: 201;
  }

  .btn-img {
    height: 4rem;
    color: #222;
  }

  .btn-img-sid {
    color: #e63946;
    height: 2.4rem;
    width: auto;
    stroke-width: 0.3rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
    background-color: #22222283;
    display: block;
    z-index: -1;
    transition: all 0.5s;
    backdrop-filter: blur(1px);
  }
  .sid-func .overlay {
    z-index: 200;
  }

  .sid-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 0.9rem;
    padding: 0.5rem;
    border: none;
    margin: 0 2rem;
    margin-top: 2rem;
    border: 2px solid #e63946;
  }

  .sid-btn:hover {
    background-color: #e6394718;
  }
  .main {
    position: relative;
    overflow-x: hidden;
  }
  .content {
    padding-bottom: 8rem;
  }

  .Sidebar {
    position: absolute;
    transform: translateX(-100%);
    background-color: #fff;
    height: calc(100vh - 8rem);
    opacity: 100;
    display: block;
    max-width: 36rem;
    min-width: 36rem;
    transition: all 0.4s;
    z-index: 600;
    padding-bottom: 10rem;
  }

  .sid-func .Sidebar {
    transform: translateX(0%);
    opacity: 100;
    z-index: 600;
  }

  .nav-links a {
    font-size: 3rem;
  }

  .nav-links a::after {
    height: 0.3rem;
    background-color: #e63946;
    bottom: -0.4rem;
    top: 4.2rem;
    left: 0;
  }

  .nav-open .btn-open {
    display: none;
  }

  .nav-open .btn-close {
    display: block;
  }

  .nav-open .nav-links {
    opacity: 100;
    z-index: 200;
    transform: translateX(0%);
  }
}

@media screen and (max-width: 584px) {
  html {
    font-size: 7px;
  }
  header {
    padding: 0 2.4rem;
  }
}

@media screen and (max-width: 405px) {
  html {
    font-size: 6px;
  }
  .buttons {
    flex-direction: column;
  }
  .arch-img {
    height: 28rem;
  }
}
